Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Add rasterized Wodore wordmark logos for og:image watermarks
  public/logos/wordmark_color.png
  public/logos/wordmark_white.png
Due: none

Test infra: parallel workers, draft-PR skip, composite test:ci, visual regression
  .github/workflows/android.yml
  .github/workflows/preview.yml
  .github/workflows/test.yml
  package.json
  playwright.config.ts
  tests/interaction/visual-regression.spec.ts
  tests/interaction/visual-regression.spec.ts-snapshots/basemap-rail-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/focus-mode-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/topbar-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/topbar-light-mobile-interaction-linux.png
Due: eslint --fix, prettier --write

Add OpenSpec for overlay layer groups (proposal, design, specs, tasks)
  openspec/changes/overlay-layer-groups/.openspec.yaml
  openspec/changes/overlay-layer-groups/design.md
  openspec/changes/overlay-layer-groups/proposal.md
  openspec/changes/overlay-layer-groups/specs/overlay-groups/spec.md
  openspec/changes/overlay-layer-groups/tasks.md
Due: prettier --write

Add icon-only logo PNGs (white + original colors)
  public/logos/wodore_icon.png
  public/logos/wodore_icon_white.png
Due: none

Fix draft-check injection, zoom visibility on load, widen screenshots
  .github/workflows/android.yml
  .github/workflows/preview.yml
  .github/workflows/test.yml
  src/components/map/controls/WdOverlayControl.vue
  tests/interaction/visual-regression.spec.ts
  tests/interaction/visual-regression.spec.ts-snapshots/basemap-rail-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/focus-mode-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/zoom-only-light-mobile-interaction-linux.png
Due: eslint --fix, prettier --write

Auto-download app updates in the background with staleness escalation
  src/components/version/WdAppUpdateBanner.vue
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/layouts/MainLayout.vue
  src/services/appUpdate.ts
  tests/unit/app-update.spec.ts
Due: eslint --fix, prettier --write

Add desktop visual regression tests; restore openspec files
  openspec/changes/overlay-layer-groups/.openspec.yaml
  openspec/changes/overlay-layer-groups/design.md
  openspec/changes/overlay-layer-groups/proposal.md
  openspec/changes/overlay-layer-groups/specs/overlay-groups/spec.md
  openspec/changes/overlay-layer-groups/tasks.md
  tests/interaction/visual-regression.spec.ts
  tests/interaction/visual-regression.spec.ts-snapshots/focus-mode-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-dark-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-dark-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/topbar-light-desktop-interaction-linux.png
Due: eslint --fix, prettier --write

Update overlay groups spec with owner feedback
  openspec/changes/overlay-layer-groups/design.md
  openspec/changes/overlay-layer-groups/specs/overlay-groups/spec.md
  openspec/changes/overlay-layer-groups/tasks.md
Due: prettier --write

Re-render the icon PNG at 800px for crisp og:image watermarks
  public/logos/wodore_icon.png
Due: none

Remove overlay-layer-groups openspec (belongs in PR #196 only)
  openspec/changes/overlay-layer-groups/.openspec.yaml
  openspec/changes/overlay-layer-groups/design.md
  openspec/changes/overlay-layer-groups/proposal.md
  openspec/changes/overlay-layer-groups/specs/overlay-groups/spec.md
  openspec/changes/overlay-layer-groups/tasks.md
Due: prettier --write

Replace the generated icon placeholder with the official watermark PNG
  public/logos/wodore_icon.png
  public/logos/wodore_watermark.png
Due: none

Move the og watermark assets to public/meta/ (next to meta.jpg)
  public/logos/wodore_icon_white.png
  public/logos/wordmark_color.png
  public/logos/wordmark_white.png
  public/meta/wodore_watermark.png
  public/meta/wodore_watermark.svg
Due: none

Keep silent updates to Play auto-update; update UI only when the API forces it
  src/components/version/WdAppUpdateBanner.vue
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/layouts/MainLayout.vue
  src/services/appUpdate.ts
  tests/unit/app-update.spec.ts
Due: eslint --fix, prettier --write

Add basemap desktop screenshot; compress via CSS-scale + crop
  tests/interaction/visual-regression.spec.ts
  tests/interaction/visual-regression.spec.ts-snapshots/basemap-rail-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/focus-mode-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/focus-mode-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-dark-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-dark-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/topbar-light-mobile-interaction-linux.png
Due: eslint --fix, prettier --write

Fix duplicate if: key in test workflow (was rejecting the file)
  .github/workflows/test.yml
Due: none

Fix duplicate if: in cleanup job too
  .github/workflows/test.yml
Due: none

Use the Play in-app update flow in the native version banner (#192)
  AGENTS.md
  package.json
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/package.json
  src-capacitor/yarn.lock
  src/components/version/WdApiVersionBanner.vue
  src/services/appUpdate.ts
  tests/unit/app-update.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write
