Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Correct staging API host to hub.stg.wodore.com
  .github/workflows/preview.yml
Due: none

Show plain commit and build timestamp in the preview comment
  .github/workflows/preview.yml
Due: none

Add label-gated GitHub Pages previews for pull requests (#149)
  .github/workflows/preview.yml
  docs/pr-previews.md
  quasar.config.ts
Due: eslint --fix, prettier --write

Polish owner-round: selected states, header icon size, placeholders
  src/components/WdSelectDate.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Keep map fabs solid on hover (wash read as transparent toggle)
  src/css/app.scss
Due: prettier --write

Improve Allure reporting: per-PR history, single updated comment, cleanup
  .github/workflows/test.yml
Due: none

Single gh-pages publish per run: history rides inside the report
  .github/workflows/test.yml
Due: none

One Allure comment with live report links
  .github/workflows/test.yml
Due: none

Publish the report before posting the summary
  .github/workflows/test.yml
Due: none

Carry the full-report link on the surviving Allure comment
  .github/workflows/test.yml
Due: none

Fix hamburger glyph and basemap open-state affordance
  src/css/app.scss
  src/extras/icons/dist/icons.css
  src/extras/icons/dist/icons.woff
  src/extras/icons/dist/icons.woff2
  src/extras/icons/svg/source/menu.svg
Due: prettier --write

Add visual-verification project skill (UI state screenshots, contrast audits)
  .agents/skills/visual-verification/SKILL.md
Due: prettier --write

Fix Allure 3 history: correct input path and rebuild-from-report persistence
  .github/workflows/test.yml
Due: none

Add visual-verification skill for UI state and contrast checks (#152)
  .agents/skills/visual-verification/SKILL.md
Due: prettier --write

Flatten the drawer close button and fix dark-only pill leftovers
  src/css/app.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write
