Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Full-bleed dialogs, drawer toolbar to the top, version box higher
  src/components/media/WdMediaGallery.vue
  src/components/search/WdPlaceSearchDialog.vue
  src/components/version/WdVersionsPanel.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Sheet header treatment: unscoped ::part rules (scoped never reached the host)
  src/components/utils/WdBottomSheet.vue
Due: eslint --fix, prettier --write

Calendar dialog de-gold + sheet scrolled tolerance
  src/components/WdSelectDate.vue
  src/components/utils/WdBottomSheet.vue
Due: eslint --fix, prettier --write

Paint the drawer status-bar zone with the toolbar color
  src/css/app.scss
Due: prettier --write

Sheet scrolled signal: content scrollers only, never the host
  src/components/utils/WdBottomSheet.vue
Due: eslint --fix, prettier --write

Tooltip contrast pin + exclude staging ribbon from the gate
  scripts/visual-matrix.mjs
  src/css/app.scss
Due: prettier --write

Restructure Android labels: per-commit previews, merge builds, RC for releases
  .github/workflows/android.yml
  .github/workflows/preview.yml
  src/components/map/WdMapMenu.vue
  src/components/map/WdMapView.vue
  src/components/media/WdMediaGallery.vue
  src/components/search/WdPlaceSearchDialog.vue
  src/components/utils/WdBottomSheet.vue
  src/components/version/WdVersionsPanel.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Visual matrix: longer hut-state waits, staging ribbon excluded
  scripts/visual-matrix.mjs
Due: none

Fix basemap toggle position, bottom sheet snap points, and dialogs
  src/components/utils/WdBottomSheet.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Add safe-area padding directly to the search dialog content
  src/components/search/WdPlaceSearchDialog.vue
Due: eslint --fix, prettier --write

Fix visual-matrix harness: routing mode, app-ready waits, unicode-safe asserts
  scripts/visual-matrix.mjs
  src/components/content/place/WdWeatherDay.vue
  src/components/content/place/WdYearStripe.vue
Due: eslint --fix, prettier --write

Add native feel, fix map glyph failures, nav bar, preview ribbon
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/app/src/main/java/com/wodore/app/MainActivity.java
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/package.json
  src-capacitor/yarn.lock
  src/components/map/WdMapView.vue
  src/css/app.scss
  src/layouts/MainLayout.vue
  src/stores/map/utils/raster.ts
Due: eslint --fix, prettier --write

Harness round 2: mobile flows, AA floors for hut-page text
  scripts/visual-matrix.mjs
  src/components/content/place/WdWeatherDay.vue
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutView.vue
  src/css/app.scss
Due: eslint --fix, prettier --write
