Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Style calendar with the sage toolbar family
  src/css/app.scss
Due: prettier --write

Scope calendar CSS to :has(.q-date); restore search card to dark pine
  src/components/search/WdPlaceSearch.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Calendar to dark pine matching the search card (main's original look)
  src/css/app.scss
Due: prettier --write

Calendar and search card theme-aware: light panel in light mode
  src/css/app.scss
Due: prettier --write

Type template refs for vue 3.5.43 template-ref inference
  eslint.config.js
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutWeatherForecast.vue
  src/components/media/WdMediaGallery.vue
  src/components/media/WdMediaPreview.vue
  src/components/search/WdPlaceSearchMenu.vue
  src/components/utils/WdBottomSheet.vue
  src/composables/useSlideCount.ts
Due: eslint --fix, prettier --write

Fix duplicate wd-menu sage rule overriding theme tokens
  src/css/app.scss
Due: prettier --write

Add vue-tsc type check to CI quality job
  .github/workflows/main.yml
Due: none

Keep gallery thumbnails inside the visible viewport on mobile
  src/components/media/WdMediaGallery.vue
Due: eslint --fix, prettier --write
