Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Serve runtime env via uncached env.json instead of baked chunks
  docker/nginx-default.conf
  index.html
  public/env.json
  quasar.config.ts
  src/clients/index.ts
  src/components/feedback/WdFeedbackForm.vue
  src/components/huts/WdHutView.vue
  src/components/map/WdMapView.vue
  src/components/toolbar/WdUser.vue
  src/components/utils/WdAnalytics.vue
  src/components/version/WdVersionTag.vue
  src/components/version/WdVersionsPanel.vue
  src/layouts/MainLayout.vue
  src/services/auth.ts
  src/services/imageService.ts
  src/services/runtimeEnv.ts
  src/stores/map/basemap-store.ts
  src/stores/map/utils/overlay-huts.ts
  src/stores/map/utils/raster.ts
Due: eslint --fix, prettier --write

Restore getEnv import in WdVersionTag (WODORE_ENV is runtime)
  src/components/version/WdVersionTag.vue
Due: eslint --fix, prettier --write

Fix lint errors, test failures and remove build-only vars
  index.html
  src/components/map/WdMapView.vue
  src/components/utils/WdAnalytics.vue
  src/components/version/WdVersionTag.vue
  src/components/version/WdVersionsPanel.vue
  src/services/runtimeEnv.ts
Due: eslint --fix, prettier --write

Embed runtime env inline in index.html instead of env.json fetch
  index.html
  public/env.json
  quasar.config.ts
  src/services/runtimeEnv.ts
Due: eslint --fix, prettier --write

Remove duplicate getEnv import in imageService
  src/services/imageService.ts
Due: eslint --fix, prettier --write

Remove leftover env.json from nginx no-store pattern
  docker/nginx-default.conf
Due: none

Fix preview signing, enable R8 minification (6.9MB to 1.4MB)
  .github/workflows/android.yml
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/app/proguard-rules.pro
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/package.json
  src-capacitor/yarn.lock
Due: prettier --write

Serve runtime env via uncached env.json instead of baked chunks (#176)
  index.html
  src/clients/index.ts
  src/components/feedback/WdFeedbackForm.vue
  src/components/huts/WdHutView.vue
  src/components/map/WdMapView.vue
  src/components/toolbar/WdUser.vue
  src/components/utils/WdAnalytics.vue
  src/components/version/WdVersionTag.vue
  src/layouts/MainLayout.vue
  src/services/auth.ts
  src/services/imageService.ts
  src/services/runtimeEnv.ts
  src/stores/map/basemap-store.ts
  src/stores/map/utils/overlay-huts.ts
  src/stores/map/utils/raster.ts
Due: eslint --fix, prettier --write

PoC: native MapLibre via @capawesome/capacitor-maplibre
  index.html
  package.json
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/package.json
  src-capacitor/yarn.lock
  src/pages/poc/NativeMapPoc.vue
  src/router/routes.ts
  yarn.lock
Due: eslint --fix, prettier --write

Fix preview signing, enable R8 minification (6.9MB to 1.4MB)
  .github/workflows/android.yml
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/proguard-rules.pro
Due: none

Reduce preview APK size 94MB to 14MB (ABI filters + compressed native libs)
  src-capacitor/android/app/build.gradle
Due: none

Fix broken preview builds on main: remove v8 status-bar, restore dev signing and R8 minify
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/app/proguard-rules.pro
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/package.json
  src-capacitor/yarn.lock
Due: prettier --write

Move map controls to the bottom-right column; add focus mode
  src/components/map/WdMapView.vue
  src/css/app.scss
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
Due: eslint --fix, prettier --write

Fix broken preview builds on main: remove v8 status-bar, restore dev signing and R8 minify (#178)
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/app/proguard-rules.pro
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/package.json
  src-capacitor/yarn.lock
Due: prettier --write

Replace the main map with native MapLibre on Capacitor
  .github/workflows/android.yml
  components.d.ts
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/package.json
  src-capacitor/yarn.lock
  src/components/map/WdMapView.vue
  src/components/map/WdNativeMapView.vue
Due: eslint --fix, prettier --write

Focus mode: DOM-level empty-map tap detection
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

Fix focus-mode types: typed mapDiv ref, onMounted import
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

Focus exit chip: full mobile size (48px) - it is the only visible affordance in focus mode
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

Focus toggle: inline SVG icon (no mdi font) + explicit light chrome
  src/components/map/WdMapView.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Fix OpenFreeMap vector basemap and layer toggles on native
  src/components/map/WdNativeMapView.vue
Due: eslint --fix, prettier --write

Focus mode: double-tap safe toggle, immediate button toggle
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

Focus mode: cancel pending toggle on dblclick (MapLibre suppresses 2nd click)
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{scss,css,html,md,json})
