Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix the Android CI build command (#170)
  .github/workflows/android.yml
  package.json
Due: prettier --write

Publish the APK QR code as an image
  .github/workflows/android.yml
Due: none

Separate Android app ids per build source
  .github/workflows/android.yml
  AGENTS.md
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/src/main/res/values/strings.xml
Due: prettier --write

Use com.wodore.stg.dev for CI builds and fix the ci APK path
  .github/workflows/android.yml
  AGENTS.md
  src-capacitor/android/app/build.gradle
Due: prettier --write

Use flavor-based Android ids: stg.dev for CI, app.dev for Studio
  .github/workflows/android.yml
  AGENTS.md
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/src/main/res/values/strings.xml
Due: prettier --write

Refine Android variant labels, ids and timestamp versions
  .github/workflows/android.yml
  AGENTS.md
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/src/debug/res/values/strings.xml
  src-capacitor/android/app/src/dev/res/values/strings.xml
  src-capacitor/android/app/src/stgDev/res/values/strings.xml
Due: prettier --write

Build RC APKs on open release PRs and use timestamp versions
  .github/workflows/android.yml
  AGENTS.md
  src-capacitor/android/app/build.gradle
Due: prettier --write

Complete production env for RC builds and adjust version format
  .github/workflows/android.yml
  src-capacitor/android/app/build.gradle
Due: none

Use prod-specific Android keys and wire release signing
  .github/workflows/android.yml
  src-capacitor/android/app/build.gradle
Due: none

Guard release signing config and restore imagor media mode
  .github/workflows/android.yml
  src-capacitor/android/app/build.gradle
Due: none

Derive the package extension instead of a glob in the rename
  .github/workflows/android.yml
Due: none

Sync design spec: day-theme tokens, deepened palette, owner-confirmed PRODUCT.md
  AGENTS.md
  components.d.ts
Due: eslint --fix, prettier --write

Add design review round 1 + AGENTS.md pointer to design spec source
  docs/design-review/2026-09-27-round1.md
Due: prettier --write

Separate Android app ids per build source (#172)
  .github/workflows/android.yml
  AGENTS.md
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/src/debug/res/values/strings.xml
  src-capacitor/android/app/src/dev/res/values/strings.xml
  src-capacitor/android/app/src/main/res/values/strings.xml
  src-capacitor/android/app/src/stgDev/res/values/strings.xml
Due: prettier --write

De-gold content headers, forecast today card and version footer
  src/components/content/place/WdPlaceContent.vue
  src/components/content/place/WdWeatherDay.vue
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutView.vue
  src/components/huts/WdHutWeatherForecast.vue
  src/components/huts/monthly/WdHutOpenMonthly.vue
  src/components/version/WdVersionTag.vue
  src/components/version/WdVersionsPanel.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Toolbar hover: pin the white wash, not the shared chrome var
  src/css/app.scss
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{scss,css,html,md,json})
