Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Fix calendar text readability in light mode
  src/css/app.scss
Due: prettier --write

Add vue-tsc type check to CI quality job (#164)
  .github/workflows/main.yml
Due: none

Keep gallery thumbnails inside the visible viewport on mobile (#165)
  src/components/media/WdMediaGallery.vue
Due: eslint --fix, prettier --write

Use dynamic viewport heights for full-height map, search and overlay panels
  src/components/map/WdMapMenu.vue
  src/components/map/WdMapView.vue
  src/components/map/overlay-config/WdOverlayConfig.vue
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdPlaceSearchDialog.vue
Due: eslint --fix, prettier --write

Use dynamic viewport heights for full-height map, search and overlay panels (#166)
  src/components/map/WdMapMenu.vue
  src/components/map/WdMapView.vue
  src/components/map/overlay-config/WdOverlayConfig.vue
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdPlaceSearchDialog.vue
Due: eslint --fix, prettier --write

Restore missing @fontsource/barlow packages after main merge
  package.json
  yarn.lock
Due: prettier --write

Search input inside card: light outline styling, not sage fill
  src/css/app.scss
Due: prettier --write

Match staging input style: translucent wash, 6px radius, larger icons
  src/components/WdSelectDate.vue
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdPlaceSearchMenu.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Field icons 26px: visual match for Material 24px glyphs
  src/components/WdSelectDate.vue
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdPlaceSearchMenu.vue
Due: eslint --fix, prettier --write

Dashed 1px ::before frame on all toolbar inputs, kill underline defaults
  src/css/app.scss
Due: prettier --write

Fix menu glyph collision, flat light close button, no title hover, desktop icon size
  src/components/WdSelectDate.vue
  src/css/app.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Round close button, menu-icon bg leak, title bg, thicker input frame
  src/components/WdSelectDate.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Scope icon glyphs to i elements, 1px dashed frame only in toolbar
  .agents/skills/visual-verification/SKILL.md
  AGENTS.md
  package.json
  scripts/scope-icon-selectors.mjs
  src/css/app.scss
  src/extras/icons/dist/icons.css
Due: prettier --write

Add axe-core accessibility audit to the visual matrix
  package.json
  scripts/visual-matrix.mjs
  yarn.lock
Due: prettier --write
