Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Add SPA 404 fallback for GitHub Pages previews
  .github/workflows/preview.yml
Due: none

Fix stray character in 404 fallback heredoc
  .github/workflows/preview.yml
Due: none

Fix SPA 404 fallback: separate gh-pages checkout, clean heredoc
  .github/workflows/preview.yml
Due: none

Fix 404.html: unescape closing script tag in heredoc
  .github/workflows/preview.yml
Due: none

Review fixes: honest retry docs, real portrait-path test, precise timing
  src/composables/useMediaPreload.ts
  tests/unit/use-media-preload.spec.ts
Due: eslint --fix, prettier --write

Tune media loading for thumb-based image sources
  src/components/media/WdMediaGallery.vue
  src/components/media/WdMediaPreview.vue
  src/composables/useMediaPreload.ts
  tests/unit/use-media-preload.spec.ts
Due: eslint --fix, prettier --write

Read Imagor and MapTiler keys from secrets (moved from vars)
  .github/workflows/preview.yml
Due: none

Disable map position hash sync in hash routing mode
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

Retry visible image loads; drop permanently failed images from view
  src/components/media/WdMediaGallery.vue
  src/components/media/WdMediaPreview.vue
  src/composables/useImageRetry.ts
  tests/unit/use-image-retry.spec.ts
Due: eslint --fix, prettier --write

Fix calendar theme, close-button position and mobile placeholder
  src/components/WdSelectDate.vue
  src/components/huts/WdHutToolbar.vue
  src/css/app.scss
  src/css/fonts.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Make gallery image loading lazy with gentler retries (#163)
  .github/workflows/preview.yml
  src/components/media/WdMediaGallery.vue
  src/components/media/WdMediaPreview.vue
  src/composables/useImageRetry.ts
  src/composables/useMediaPreload.ts
  tests/unit/use-image-retry.spec.ts
  tests/unit/use-media-preload.spec.ts
Due: eslint --fix, prettier --write

Fix calendar sage background and all 34 broken icon glyphs
  src/css/app.scss
  src/extras/icons/svg/source/add-outline.svg
  src/extras/icons/svg/source/add.svg
  src/extras/icons/svg/source/alert-triangle-outline.svg
  src/extras/icons/svg/source/arrow-up-down.svg
  src/extras/icons/svg/source/arrowhead-down.svg
  src/extras/icons/svg/source/arrowhead-left.svg
  src/extras/icons/svg/source/arrowhead-right.svg
  src/extras/icons/svg/source/arrowhead-up.svg
  src/extras/icons/svg/source/at.svg
  src/extras/icons/svg/source/bell-outline.svg
  src/extras/icons/svg/source/bell.svg
  src/extras/icons/svg/source/browser.svg
  src/extras/icons/svg/source/calendar.svg
  src/extras/icons/svg/source/checkmark.svg
  src/extras/icons/svg/source/close.svg
  src/extras/icons/svg/source/edit-outline.svg
  src/extras/icons/svg/source/edit.svg
  src/extras/icons/svg/source/eye-outline.svg
  src/extras/icons/svg/source/eye.svg
  src/extras/icons/svg/source/favorite-outline.svg
  src/extras/icons/svg/source/favorite.svg
  src/extras/icons/svg/source/filter-outline.svg
  src/extras/icons/svg/source/filter.svg
  src/extras/icons/svg/source/gift.svg
  src/extras/icons/svg/source/info-outline.svg
  src/extras/icons/svg/source/link.svg
  src/extras/icons/svg/source/menu-arrow.svg
  src/extras/icons/svg/source/message.svg
  src/extras/icons/svg/source/more-vertical.svg
  src/extras/icons/svg/source/question-mark.svg
  src/extras/icons/svg/source/server.svg
  src/extras/icons/svg/source/subject.svg
  src/extras/icons/svg/source/text-outline.svg
  src/extras/icons/svg/source/tip.svg
Due: prettier --write

Add PR preview workflow instructions to agent guide
  AGENTS.md
Due: prettier --write
