Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Prune Allure reports older than 30 runs
  allure/pr-202/history/history.json
Due: prettier --write

Make the Allure report a manual workflow and add JUnit test annotations (#242)
  .github/workflows/allure-report.yml
  .github/workflows/test.yml
  .gitignore
  AGENTS.md
  playwright.config.ts
  tests/interaction/group-switch.spec.ts
  tests/interaction/helpers.ts
  tests/interaction/layout-sizes.spec.ts
  tests/interaction/overlay-interactions.spec.ts
  tests/interaction/visual-regression.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix the docker image build by enabling the buildx container driver (#247)
  .github/workflows/docker.yml
Due: none

Set PNPM_HOME on PATH for the global Quasar CLI install (#248)
  Dockerfile
Due: none

Point PATH at PNPM_HOME's bin subdirectory (#249)
  Dockerfile
Due: none
