Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Change add images in mobile view (#130)
  openspec/changes/archive/2026-04-26-mobile-gallery-add-image/.openspec.yaml
  openspec/changes/archive/2026-04-26-mobile-gallery-add-image/design.md
  openspec/changes/archive/2026-04-26-mobile-gallery-add-image/proposal.md
  openspec/changes/archive/2026-04-26-mobile-gallery-add-image/specs/mobile-stripe-add-slide/spec.md
  openspec/changes/archive/2026-04-26-mobile-gallery-add-image/tasks.md
  openspec/specs/mobile-stripe-add-slide/spec.md
  src/components/huts/WdHutImageGallery.vue
  src/components/media/WdMediaPreview.vue
Due: eslint --fix, prettier --write

Fix package file
  package.json
Due: prettier --write

Fix package file (#131)
  package.json
Due: prettier --write

Add availability state free_unknown
  src/clients/wodore_v1.d.ts
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdAccommodationDay.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutAvailability.vue
  src/stores/map/utils/overlay-huts.ts
  stories/components/content/huts/WdHutAvailabilitiesLive.stories.ts
  tsconfig.storybook-tempaths.json
Due: eslint --fix, prettier --write

Add availability state free_unknown (#132)
  src/clients/wodore_v1.d.ts
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdAccommodationDay.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutAvailability.vue
  src/stores/map/utils/overlay-huts.ts
  stories/components/content/huts/WdHutAvailabilitiesLive.stories.ts
  tsconfig.storybook-tempaths.json
Due: eslint --fix, prettier --write

Fix mobile touch scroll in bottom sheet, upgrade pure-web-bottom-sheet to 1.0.0
  openspec/changes/fix-mobile-touch-scroll/.openspec.yaml
  openspec/changes/fix-mobile-touch-scroll/design.md
  openspec/changes/fix-mobile-touch-scroll/proposal.md
  openspec/changes/fix-mobile-touch-scroll/specs/swiper-touch-coexistence/spec.md
  openspec/changes/fix-mobile-touch-scroll/tasks.md
  package.json
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/utils/WdBottomSheet.vue
  src/layouts/MainLayout.vue
  yarn.lock
Due: eslint --fix, prettier --write

openspec: record verification results for bottom sheet touch fixes
  openspec/changes/fix-mobile-touch-scroll/tasks.md
Due: prettier --write

openspec: record visual verification (glm-5.3-flash) of bottom sheet behavior
  openspec/changes/fix-mobile-touch-scroll/tasks.md
Due: prettier --write

style: prettier formatting of tasks.md
  openspec/changes/fix-mobile-touch-scroll/tasks.md
Due: prettier --write

openspec: archive fix-mobile-touch-scroll, promote swiper-touch-coexistence spec
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/.openspec.yaml
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/design.md
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/proposal.md
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/specs/swiper-touch-coexistence/spec.md
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/tasks.md
  openspec/specs/swiper-touch-coexistence/spec.md
Due: prettier --write

openspec: migrate legacy specs to CLI 1.2.0 format
  openspec/specs/accommodation-availability/spec.md
  openspec/specs/availability-scroll/spec.md
  openspec/specs/day-label/spec.md
  openspec/specs/mobile-image-stripe/spec.md
  openspec/specs/mobile-stripe-add-slide/spec.md
  openspec/specs/stacked-proportional/spec.md
Due: prettier --write

openspec: migrate legacy specs to CLI 1.2.0 validation format (#134)
  openspec/specs/accommodation-availability/spec.md
  openspec/specs/availability-scroll/spec.md
  openspec/specs/day-label/spec.md
  openspec/specs/mobile-image-stripe/spec.md
  openspec/specs/mobile-stripe-add-slide/spec.md
  openspec/specs/stacked-proportional/spec.md
Due: prettier --write

Fix mobile touch scroll in bottom sheet, upgrade pure-web-bottom-sheet to 1.0.0 (#133)
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/.openspec.yaml
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/design.md
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/proposal.md
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/specs/swiper-touch-coexistence/spec.md
  openspec/changes/archive/2026-09-21-fix-mobile-touch-scroll/tasks.md
  openspec/specs/swiper-touch-coexistence/spec.md
  package.json
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/utils/WdBottomSheet.vue
  src/layouts/MainLayout.vue
  yarn.lock
Due: eslint --fix, prettier --write

Fix maplibre-gl v6 compatibility for deps group update
  components.d.ts
  package.json
  src/components/map/WdOverlaySwitch.vue
  src/services/customRouteMode.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add unit + e2e test suite with Allure reporting on PRs
  .github/workflows/test.yml
  .gitignore
  AGENTS.md
  eslint.config.js
  openspec/changes/add-test-suite/design.md
  openspec/changes/add-test-suite/proposal.md
  openspec/changes/add-test-suite/specs/e2e-testing/spec.md
  openspec/changes/add-test-suite/specs/test-reporting/spec.md
  openspec/changes/add-test-suite/specs/unit-testing/spec.md
  openspec/changes/add-test-suite/tasks.md
  package.json
  playwright.config.ts
  src/stores/user-settings-store.ts
  tests/e2e/app-shell.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/hut-detail.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/static-pages.spec.ts
  tests/unit/custom-route-mode.spec.ts
  tests/unit/image-service.spec.ts
  tests/unit/local-properties-store.spec.ts
  tests/unit/overlay-huts.spec.ts
  tests/unit/overlay-transport.spec.ts
  tests/unit/overlays.spec.ts
  tests/unit/raster.spec.ts
  tests/unit/user-settings-store.spec.ts
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: debug allure results dir contents
  .github/workflows/test.yml
Due: none

ci: dump generated allure summary
  .github/workflows/test.yml
Due: none

ci: switch to Allure Report 3 CLI for parseable PR summaries
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

openspec: check off task 4.5 (Allure check verified on PR #136)
  openspec/changes/add-test-suite/tasks.md
Due: prettier --write

ci: host full Allure report on GitHub Pages with PR link
  .github/workflows/test.yml
Due: none

Add unit + e2e test suite with Allure reporting on PRs (#136)
  .github/workflows/test.yml
  .gitignore
  AGENTS.md
  eslint.config.js
  openspec/changes/add-test-suite/design.md
  openspec/changes/add-test-suite/proposal.md
  openspec/changes/add-test-suite/specs/e2e-testing/spec.md
  openspec/changes/add-test-suite/specs/test-reporting/spec.md
  openspec/changes/add-test-suite/specs/unit-testing/spec.md
  openspec/changes/add-test-suite/tasks.md
  package.json
  playwright.config.ts
  src/stores/user-settings-store.ts
  tests/e2e/app-shell.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/hut-detail.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/static-pages.spec.ts
  tests/unit/custom-route-mode.spec.ts
  tests/unit/image-service.spec.ts
  tests/unit/local-properties-store.spec.ts
  tests/unit/overlay-huts.spec.ts
  tests/unit/overlay-transport.spec.ts
  tests/unit/overlays.spec.ts
  tests/unit/raster.spec.ts
  tests/unit/user-settings-store.spec.ts
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Review cleanups: remove dead state/branch, fix inverted comment
  src/components/map/WdMapView.vue
  src/components/utils/WdBottomSheet.vue
  tests/e2e/sheet-helpers.ts
Due: eslint --fix, prettier --write

Restore expand-then-scroll sheet UX and stop sheet at toolbar
  src/components/utils/WdBottomSheet.vue
  tests/e2e/bottom-sheet.spec.ts
Due: eslint --fix, prettier --write

fix: cancel sheet arm poll timer when the sheet closes
  src/components/utils/WdBottomSheet.vue
Due: eslint --fix, prettier --write

Desktop drawer: header shadow when scrolled, remove bottom white line; fix footer menu overflowing the mobile sheet
  src/components/utils/WdBottomSheet.vue
  src/layouts/MainLayout.vue
  tests/e2e/bottom-sheet.spec.ts
Due: eslint --fix, prettier --write

Fix header shadow painted behind the photo gallery
  src/components/utils/WdBottomSheet.vue
  tests/e2e/bottom-sheet.spec.ts
Due: eslint --fix, prettier --write

Simplify sheet snap points: single tall snap at 70vh
  src/components/utils/WdBottomSheet.vue
Due: eslint --fix, prettier --write

Fix slow-dismissal reopen, guarantee expanded scroll, header shadow
  src/components/utils/WdBottomSheet.vue
  src/layouts/MainLayout.vue
  tests/e2e/bottom-sheet.spec.ts
Due: eslint --fix, prettier --write

Fix expanded-sheet scroll on devices, reopen regression, radius UX
  src/components/map/WdMapView.vue
  src/components/utils/WdBottomSheet.vue
  tests/e2e/bottom-sheet.spec.ts
Due: eslint --fix, prettier --write

Fix mobile bottom sheet: scroll, reopen and snap position
  src/components/map/WdMapView.vue
  src/components/utils/WdBottomSheet.vue
  src/env.d.ts
  src/layouts/MainLayout.vue
  tests/e2e/bottom-sheet.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/sheet-helpers.ts
Due: eslint --fix, prettier --write

Fix mobile bottom sheet: scroll, reopen, snap position (#137)
  src/components/map/WdMapView.vue
  src/components/utils/WdBottomSheet.vue
  src/env.d.ts
  src/layouts/MainLayout.vue
  tests/e2e/bottom-sheet.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/sheet-helpers.ts
Due: eslint --fix, prettier --write

Add useLatestRequest stale-guard helper; fix async races in search, weather, images, availability
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdHutWeatherForecast.vue
  src/components/media/WdMediaGallery.vue
  src/components/search/WdPlaceSearch.vue
  src/composables/useLatestRequest.ts
  src/composables/useMediaImages.ts
  src/composables/useNearbyImages.ts
  src/composables/usePlaceWeather.ts
  src/stores/huts-store.ts
  tests/unit/use-latest-request.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Fix P1 user-facing breaks: dead scaffold, broken navigation, hut fetch races, meteo cache
  eslint.config.js
  src/components/feedback/WdFeedbackForm.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutView.vue
  src/composables/usePlace.ts
  src/pages/IndexPage.vue
  src/stores/example-store.ts
  src/stores/meteo-store.ts
Due: eslint --fix, prettier --write

style: simplify useMeta title fallback
  src/components/huts/WdHutView.vue
Due: eslint --fix, prettier --write
