Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Match proxied sitemap cache to the backend's 48 h TTL
  docker/nginx-default.conf
Due: none

Slim maplibre CSS, promote interaction suite, extract chip mixin, organize partials
  eslint.config.js
  package.json
  scripts/interaction-suite.cjs
  src/components/map/controls/WdBasemapControl.vue
  src/components/map/controls/WdOverlayControl.vue
  src/css/map-controls/_attribution.scss
  src/css/map-controls/_chip.scss
  src/css/map-controls/_dark.scss
  src/css/map-controls/_layout.scss
  src/css/map-controls/_topbar.scss
  src/css/map-controls/_zoom-slider.scss
  src/css/maplibre-gl.scss
Due: eslint --fix, prettier --write

Adopt never-null thumbhashes from backend #209
  src/clients/wodore_v1.d.ts
  src/composables/useHutImages.ts
  src/composables/useMediaImages.ts
  src/types/geo.ts
  src/utils/imageVariants.ts
  tests/unit/image-variants.spec.ts
  tests/unit/thumbhash.spec.ts
  tests/unit/use-media-images.spec.ts
Due: eslint --fix, prettier --write

Fix attribution close glyph, basemap padding, zoom visibility, animations
  scripts/interaction-suite.cjs
  src/components/map/controls/WdBasemapControl.vue
  src/css/map-controls/_attribution.scss
  src/css/map-controls/_zoom-slider.scss
Due: eslint --fix, prettier --write

Adopt t-shirt image sizes and ThumbHash placeholders from the new image API (#185)
  src/clients/wodore_v1.d.ts
  src/components/media/WdMediaGallery.vue
  src/components/media/WdMediaPreview.vue
  src/composables/useHutImages.ts
  src/composables/useMediaImages.ts
  src/composables/useMediaPreload.ts
  src/composables/useNearbyImages.ts
  src/types/geo.ts
  src/utils/imageVariants.ts
  src/utils/thumbhash.ts
  tests/unit/image-variants.spec.ts
  tests/unit/thumbhash.spec.ts
  tests/unit/use-media-images.spec.ts
  tests/unit/use-media-preload.spec.ts
Due: eslint --fix, prettier --write

Actually pass WODORE_SEO_NOINDEX through to the index.html EJS
  quasar.config.ts
Due: eslint --fix, prettier --write

Match basemap rail to 48px toggle, zoom hides with overlay, attribution morph
  scripts/interaction-suite.cjs
  src/components/map/controls/WdBasemapControl.vue
  src/components/map/controls/WdOverlayControl.vue
  src/css/map-controls/_attribution.scss
  src/css/map-controls/_zoom-slider.scss
Due: eslint --fix, prettier --write

Speed up attribution morphing (0.25s → 0.15s)
  src/css/map-controls/_attribution.scss
Due: prettier --write

Split map-chrome CSS into feature partials and delete the old overlay/basemap switches (#187)
  components.d.ts
  eslint.config.js
  package.json
  scripts/interaction-suite.cjs
  src/components/map/WdBasemapSwitch.vue
  src/components/map/WdBasemapSwitchItem.vue
  src/components/map/WdOverlaySwitch.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/components/map/controls/WdBasemapControl.vue
  src/components/map/controls/WdOverlayControl.vue
  src/components/media/WdNoImage.vue
  src/css/README.md
  src/css/app.scss
  src/css/map-controls/_attribution.scss
  src/css/map-controls/_chip.scss
  src/css/map-controls/_dark.scss
  src/css/map-controls/_layout.scss
  src/css/map-controls/_topbar.scss
  src/css/map-controls/_zoom-slider.scss
  src/css/maplibre-gl.scss
  src/css/quasar.variables.scss
  src/stores/map/overlay-config-store.ts
Due: eslint --fix, prettier --write

Pin the API version on all backend requests
  components.d.ts
  src/clients/index.ts
  src/clients/wodore_v1.d.ts
  src/components/version/WdApiVersionBanner.vue
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/layouts/MainLayout.vue
  src/services/apiVersion.ts
  src/stores/api-version-store.ts
  tests/unit/api-version.spec.ts
Due: eslint --fix, prettier --write

Convert interaction suite to Playwright specs with Allure integration
  .github/workflows/test.yml
  package.json
  playwright.config.ts
  src/css/README.md
  tests/interaction/helpers.ts
  tests/interaction/layout-sizes.spec.ts
  tests/interaction/overlay-interactions.spec.ts
  tests/interaction/theme-chrome.spec.ts
Due: eslint --fix, prettier --write

Generate the API version pin from the OpenAPI schema (gen:api)
  AGENTS.md
  package.json
  scripts/gen-api.mjs
  src/clients/apiVersion.ts
  src/services/apiVersion.ts
Due: eslint --fix, prettier --write

Fix Allure report to include interaction results + upload Playwright artifacts
  .github/workflows/test.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{scss,css,html,md,json})
