Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Header hover: exempt the green bar from the light-surface dark wash
  src/css/app.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Header hover: exempt .app-header from the light-surface scope entirely
  src/css/app.scss
Due: prettier --write

Header hover: outrank the flat-chrome text-icon rule
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Adapt the Android UI to edge-to-edge screens
  quasar.config.ts
  src/boot/native.ts
  src/clients/index.ts
  src/components/map/WdBasemapSwitch.vue
  src/components/map/WdMapView.vue
  src/components/utils/WdBottomSheet.vue
  src/composables/useRequestProgress.ts
  src/css/app.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Repair the app-header style block after the progress-bar edit
  components.d.ts
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Add local Android build script and emulator documentation
  AGENTS.md
  scripts/build-android-local.sh
Due: prettier --write

Unify today/selected day states; radius ramp sweep + lint; attribution chip
  package.json
  scripts/check-radius.mjs
  src/components/content/place/WdPlaceTypeBadge.vue
  src/components/content/place/WdWeatherDay.vue
  src/components/contribute/WdExternalLinkCard.vue
  src/components/huts/WdAccommodationDay.vue
  src/components/huts/WdHutAvailability.vue
  src/components/huts/WdHutType.vue
  src/components/huts/WdHutTypeChip.vue
  src/components/huts/WdHutView.vue
  src/components/huts/WdSourceButtons.vue
  src/components/huts/monthly/WdHutOpenMonthly.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/components/media/WdMediaGallery.vue
  src/components/media/WdMediaPreview.vue
  src/components/media/WdNoImage.vue
  src/components/support/WdSupportForm.vue
  src/components/toolbar/WdLanguageSwitcher.vue
  src/css/app.scss
  src/css/maplibre-gl.scss
Due: eslint --fix, prettier --write

Calendar today marker: target Quasar's real .q-date__today class
  src/css/app.scss
  src/css/maplibre-gl.scss
Due: prettier --write

Attribution chip: outrank MapLibre's own default styling
  src/css/maplibre-gl.scss
Due: prettier --write

Calendar selected day: target Quasar's real bg-accent marker
  src/css/app.scss
Due: prettier --write

Fix double safe-area spacing by disabling Capacitor edge-to-edge margins
  scripts/build-android-local.sh
  src-capacitor/android/gradle.properties
  src-capacitor/capacitor.config.json
Due: prettier --write

Mobile date field: restore visible label with short uppercase placeholder
  src/components/WdSelectDate.vue
  src/css/app.scss
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
Due: eslint --fix, prettier --write

Sign CI preview and RC builds with a stable dev keystore
  .github/workflows/android.yml
  AGENTS.md
  scripts/build-android-local.sh
  src-capacitor/android/app/build.gradle
  src/clients/index.ts
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Pass the dev keystore secrets to the gradle build step
  .github/workflows/android.yml
Due: none

Wrap the keystore alias env line
  .github/workflows/android.yml
Due: none

Toolbar date stepper as one segmented control; drawer ridge; filter badge
  src/components/WdSelectDate.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/css/app.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write
