Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Harness round 3: explicit menu control, disabled/attribution exemptions
  scripts/visual-matrix.mjs
  src/components/content/place/WdPlaceContent.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Native feel, nav bar theme gradient, preview history, per-variant names
  .github/workflows/android.yml
  src-capacitor/android/app/build.gradle
  src/components/map/WdMapView.vue
  src/css/app.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Harness round 4: account flow uses the menu control, result rows assert on q-item, wordmark exempt
  scripts/visual-matrix.mjs
Due: none

Fix shell comment syntax in the APK naming step
  .github/workflows/android.yml
Due: none

Preview workflow: match the renamed PREVIEW:web label
  .github/workflows/preview.yml
Due: none

Restore the visual test matrix as a trustworthy gate (#175)
  .github/workflows/preview.yml
  scripts/visual-matrix.mjs
  src/components/content/place/WdPlaceContent.vue
  src/components/content/place/WdWeatherDay.vue
  src/components/content/place/WdWeatherForecast.vue
  src/components/content/place/WdYearStripe.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutView.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Zero dialog inner safe-area padding, stronger nav bar gradient
  src/components/map/WdMapView.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Fix maximized dialogs with androidSafeAreaPadding: false
  quasar.config.ts
  scripts/build-android-local.sh
  src-capacitor/android/app/src/main/java/com/wodore/app/MainActivity.java
  src/components/map/WdMapView.vue
  src/components/search/WdPlaceSearchDialog.vue
  src/css/app.scss
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/stores/map/basemap-store.ts
Due: eslint --fix, prettier --write

Cap preview build history at 5 for both web and Android
  .github/workflows/preview.yml
Due: none

Fix Android preview comment: allow dispatch events, show actual APK filename
  .github/workflows/android.yml
Due: none

Fix maximized dialogs and nav bar gradient with CSS overrides
  quasar.config.ts
  src/components/map/WdMapView.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Fix search dialog safe-area positioning and nav bar gradient
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdPlaceSearchDialog.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Align close button with search input vertically
  src/components/search/WdPlaceSearchDialog.vue
Due: eslint --fix, prettier --write

Align close button vertically with search input (19px offset)
  src/components/search/WdPlaceSearchDialog.vue
Due: eslint --fix, prettier --write

Quote the skip-build echo message (shell syntax error from parentheses)
  .github/workflows/android.yml
Due: none

Adapt the Android UI to edge-to-edge screens (#174)
  .github/workflows/android.yml
  .github/workflows/preview.yml
  AGENTS.md
  quasar.config.ts
  scripts/build-android-local.sh
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/capacitor.build.gradle
  src-capacitor/android/app/src/main/java/com/wodore/app/MainActivity.java
  src-capacitor/android/capacitor.settings.gradle
  src-capacitor/android/gradle.properties
  src-capacitor/capacitor.config.json
  src-capacitor/package.json
  src-capacitor/yarn.lock
  src/boot/native.ts
  src/clients/index.ts
  src/components/map/WdBasemapSwitch.vue
  src/components/map/WdMapMenu.vue
  src/components/map/WdMapView.vue
  src/components/map/WdOverlaySwitch.vue
  src/components/media/WdMediaGallery.vue
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdPlaceSearchDialog.vue
  src/components/utils/WdBottomSheet.vue
  src/components/version/WdVersionsPanel.vue
  src/composables/useRequestProgress.ts
  src/css/app.scss
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/layouts/MainLayout.vue
  src/stores/map/basemap-store.ts
  src/stores/map/utils/raster.ts
Due: eslint --fix, prettier --write

Add @maplibre/maplibre-gl-style-spec as explicit dependency
  package.json
Due: prettier --write

Clean up workflow security, add missing dependency, formatting
  .github/workflows/android.yml
  src/components/WdSelectDate.vue
  src/components/map/WdMapView.vue
  src/components/map/WdOverlaySwitch.vue
  src/components/search/WdPlaceSearchDialog.vue
  src/components/utils/WdBottomSheet.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Clean up workflow security and post-merge formatting (#177)
  .github/workflows/android.yml
  package.json
  src/components/WdSelectDate.vue
  src/components/map/WdMapView.vue
  src/components/map/WdOverlaySwitch.vue
  src/components/search/WdPlaceSearchDialog.vue
  src/components/utils/WdBottomSheet.vue
  src/css/app.scss
Due: eslint --fix, prettier --write
