Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

CI: exclude visual regression tests (environment-specific screenshots)
  .github/workflows/test.yml
Due: none

Add test infrastructure improvements (#195)
  .github/workflows/android.yml
  .github/workflows/preview.yml
  .github/workflows/test.yml
  package.json
  playwright.config.ts
  src/components/map/controls/WdOverlayControl.vue
  tests/interaction/visual-regression.spec.ts
  tests/interaction/visual-regression.spec.ts-snapshots/basemap-rail-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/basemap-rail-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/focus-mode-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/focus-mode-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-dark-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-expanded-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-dark-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/overlay-strip-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/topbar-dark-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/topbar-light-desktop-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/topbar-light-mobile-interaction-linux.png
  tests/interaction/visual-regression.spec.ts-snapshots/zoom-only-light-mobile-interaction-linux.png
Due: eslint --fix, prettier --write

Add OpenSpec for overlay layer groups (#196)
  openspec/changes/overlay-layer-groups/.openspec.yaml
  openspec/changes/overlay-layer-groups/design.md
  openspec/changes/overlay-layer-groups/proposal.md
  openspec/changes/overlay-layer-groups/specs/overlay-groups/spec.md
  openspec/changes/overlay-layer-groups/tasks.md
Due: prettier --write

Add overlay layer groups with mini selector, expanded grouping, and per-group active state
  _work/verify-groups.cjs
  src/components/map/controls/WdOverlayControl.vue
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/stores/map/overlay-store.ts
  src/stores/map/utils/layer-groups.ts
  src/stores/user-settings-store.ts
  tests/unit/layer-groups.spec.ts
Due: eslint --fix, prettier --write

Fix mini strip: dynamic height adapts to group, all controls visible
  src/components/map/controls/WdOverlayControl.vue
Due: eslint --fix, prettier --write

Add overlay layer groups with seasonal grouping and one-tap group toggle (#197)
  _work/verify-groups.cjs
  src/components/map/controls/WdOverlayControl.vue
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/stores/map/overlay-store.ts
  src/stores/map/utils/layer-groups.ts
  src/stores/user-settings-store.ts
  tests/unit/layer-groups.spec.ts
Due: eslint --fix, prettier --write

Add overlay group edit mode with add/remove layer controls
  _work/verify-edit.cjs
  src/components/map/controls/WdOverlayControl.vue
  src/stores/map/overlay-store.ts
Due: eslint --fix, prettier --write

Add rasterized Wodore wordmark logos for og:image watermarks (#194)
  public/meta/wodore_watermark.png
  public/meta/wodore_watermark.svg
Due: none
