Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

pr-150 root: replace legacy SW with self-destructing killer
  pr-150/index.html
  pr-150/sw.js
Due: eslint --fix, prettier --write

Brand the Android launcher icon and splash screen
  AGENTS.md
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/src/main/res/drawable-land-hdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-mdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-xhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-xxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-hdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-mdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-xhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-xxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable/splash.png
  src-capacitor/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/values/ic_launcher_background.xml
  src/assets/icongenie/icongenie-capacitor-icons.json
  src/assets/icongenie/icongenie-capacitor-splash.json
Due: prettier --write

Fix remaining dark/light chrome: store badges, ::before shadow, scrollarea bars
  src/components/contribute/WdExternalLinkCard.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Sync Android version in the release script
  scripts/release.sh
Due: none

Brand the Android launcher icon and splash screen (#168)
  AGENTS.md
  scripts/release.sh
  src-capacitor/android/app/build.gradle
  src-capacitor/android/app/src/main/res/drawable-land-hdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-mdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-xhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-xxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-hdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-mdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-xhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-xxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  src-capacitor/android/app/src/main/res/drawable/splash.png
  src-capacitor/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  src-capacitor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  src-capacitor/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  src-capacitor/android/app/src/main/res/values/ic_launcher_background.xml
  src/assets/icongenie/icongenie-capacitor-icons.json
  src/assets/icongenie/icongenie-capacitor-splash.json
Due: prettier --write

Visual-verification round: calendar fade, contribute header, date placeholder
  src/components/WdSelectDate.vue
  src/components/contribute/WdContributePage.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Forecast weather symbols: inline SVG recolored per theme
  src/components/content/place/WdWeatherDay.vue
  src/components/contribute/WdContributePage.vue
Due: eslint --fix, prettier --write

Add CI builds for Android debug packages
  .github/WORKFLOWS.md
  .github/workflows/android.yml
  .github/workflows/docker.yml
  AGENTS.md
Due: prettier --write

Format android workflow quotes
  .github/workflows/android.yml
Due: none

Header weather icon: recolor the black STROKES, not just fills
  src/components/content/place/WdWeatherDay.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Comment Android APK artifact link with QR code on the PR
  .github/WORKFLOWS.md
  .github/workflows/android.yml
Due: prettier --write

Weather icon: actually apply the stroke recolor this time
  src/css/app.scss
Due: prettier --write

Add CI builds for Android debug packages (#169)
  .github/WORKFLOWS.md
  .github/workflows/android.yml
  .github/workflows/docker.yml
  AGENTS.md
Due: prettier --write

Weather icon: filter recolor (use-shadow clone is CSS-unreachable)
  src/css/app.scss
Due: prettier --write

Fix the Android CI build command
  .github/workflows/android.yml
  package.json
Due: prettier --write

Add android target to the capacitor build script
  package.json
Due: prettier --write

Use qrcode CLI with output file in the QR step
  .github/workflows/android.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{scss,css,html,md,json})
