Repository wodore/wodore-frontend-quasar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{scss,css,html,md,json}": ["prettier --write"]
}

Archive add-language-switch OpenSpec change
  openspec/changes/archive/2026-09-23-add-language-switch/.openspec.yaml
  openspec/changes/archive/2026-09-23-add-language-switch/design.md
  openspec/changes/archive/2026-09-23-add-language-switch/proposal.md
  openspec/changes/archive/2026-09-23-add-language-switch/specs/language-switch/spec.md
  openspec/changes/archive/2026-09-23-add-language-switch/tasks.md
  openspec/specs/language-switch/spec.md
Due: prettier --write

Archive add-language-switch OpenSpec change (#145)
  openspec/changes/archive/2026-09-23-add-language-switch/.openspec.yaml
  openspec/changes/archive/2026-09-23-add-language-switch/design.md
  openspec/changes/archive/2026-09-23-add-language-switch/proposal.md
  openspec/changes/archive/2026-09-23-add-language-switch/specs/language-switch/spec.md
  openspec/changes/archive/2026-09-23-add-language-switch/tasks.md
  openspec/specs/language-switch/spec.md
Due: prettier --write

fix: show proper error message when WebGL is unsupported
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

fix: keep overlay info populated when switching languages
  src/components/map/overlay-config/WdOverlayConfigPanels.vue
Due: eslint --fix, prettier --write

Show a proper error message for unsupported WebGL (#147)
  src/components/map/WdMapView.vue
Due: eslint --fix, prettier --write

Keep overlay info populated after language switch (#148)
  src/components/map/overlay-config/WdOverlayConfigPanels.vue
Due: eslint --fix, prettier --write

Gitignore impeccable run artifacts
  .gitignore
Due: none

Align palette scalars with canonical ramps
  src/css/quasar.variables.scss
Due: prettier --write

Add design tokens and light/dark theme foundation
  quasar.config.ts
  src/boot/theme.ts
  src/components/toolbar/WdThemeSwitcher.vue
  src/css/app.scss
  src/css/quasar.variables.scss
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/fr.json
  src/i18n/locales/it.json
  src/layouts/MainLayout.vue
  src/services/theme.ts
Due: eslint --fix, prettier --write

Apply occupancy scale and theme-aware surfaces
  components.d.ts
  src/components/huts/WdAccommodationDay.vue
  src/components/huts/WdHutView.vue
  src/components/map/overlay-config/WdLegendSection.vue
  src/components/map/overlay-config/WdMultiSelectFilter.vue
  src/components/map/overlay-config/WdOverlayConfig.vue
  src/components/map/overlay-config/WdOverlayConfigFilter.vue
  src/components/map/overlay-config/WdOverlayConfigLinks.vue
  src/components/map/overlay-config/WdOverlayConfigPanels.vue
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdSearchResultEntry.vue
  src/css/app.scss
  src/css/months.scss
  src/layouts/MainLayout.vue
  src/stores/map/utils/overlay-huts.ts
  tests/unit/overlay-huts.spec.ts
Due: eslint --fix, prettier --write

Fix visual-critique findings across themes
  components.d.ts
  src/components/content/place/WdPlaceActions.vue
  src/components/huts/WdHutToolbar.vue
  src/components/huts/monthly/WdMonthly.vue
  src/components/map/WdBasemapSwitch.vue
  src/components/map/WdBasemapSwitchItem.vue
  src/components/map/WdOverlaySwitch.vue
  src/components/search/WdPlaceSearch.vue
  src/components/search/WdPlaceSearchMenu.vue
  src/components/toolbar/WdToolbarButton.vue
  src/components/toolbar/WdToolbarExtraButton.vue
  src/components/utils/WdTextClamp.vue
  src/css/app.scss
  src/css/maplibre-gl.scss
  src/css/months.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Restore dark chrome, fix hut dark mode, adopt Barlow
  .impeccable/critique/2026-09-23T14-02-41Z__src-layouts-mainlayout-vue.md
  package.json
  quasar.config.ts
  src/components/content/place/WdPlaceActions.vue
  src/components/content/place/WdPlaceContent.vue
  src/components/content/place/WdPlaceTitle.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdHutHeader.vue
  src/components/huts/WdHutToolbar.vue
  src/components/huts/WdHutTypeChip.vue
  src/components/huts/WdHutView.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/components/toolbar/WdLanguageSwitcher.vue
  src/components/toolbar/WdThemeSwitcher.vue
  src/css/app.scss
  src/css/fonts.scss
  src/css/maplibre-gl.scss
  src/css/quasar.scss
  src/css/quasar.variables.scss
  src/layouts/MainLayout.vue
  yarn.lock
Due: eslint --fix, prettier --write

Complete dual-theme polish per review feedback
  src/components/WdSelectDate.vue
  src/components/huts/WdHutTypeChip.vue
  src/components/huts/WdHutTypeNameChip.vue
  src/components/map/WdMapMenu.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/components/toolbar/WdLanguageSwitcher.vue
  src/components/toolbar/WdThemeSwitcher.vue
  src/components/toolbar/WdUser.vue
  src/components/utils/WdBottomSheet.vue
  src/css/app.scss
  src/css/maplibre-gl.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Restore incumbent day chrome and finish dark readability
  src/components/WdSelectDate.vue
  src/components/content/WdStatBox.vue
  src/components/content/place/WdPlaceContent.vue
  src/components/content/place/WdPlaceTypeBadge.vue
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdAccommodationAvailabilities.vue
  src/components/huts/WdAccommodationDay.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutView.vue
  src/components/huts/WdHutWeatherForecast.vue
  src/components/huts/monthly/WdHutOpenMonthly.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/components/version/WdVersionTag.vue
  src/css/app.scss
  src/css/months.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Enforce readability across all captured states
  src/components/content/place/WdPlaceTitle.vue
  src/components/huts/WdHutAvailabilities.vue
  src/components/huts/WdHutWeatherDay.vue
  src/components/map/WdMapMenu.vue
  src/components/search/WdPlaceSearch.vue
  src/components/wodore/WodoreLogo.vue
  src/css/app.scss
  src/css/maplibre-gl.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Fix device-reported defects and add visual test workflow
  .gitignore
  package.json
  scripts/README-visual-tests.md
  scripts/visual-matrix.mjs
  src/components/WdSelectDate.vue
  src/components/content/place/WdDayLabel.vue
  src/components/huts/WdAccommodationDay.vue
  src/components/huts/WdHutWeatherDay.vue
  src/components/map/WdMapMenu.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/css/app.scss
  src/css/maplibre-gl.scss
  src/stores/map/utils/overlays.ts
Due: eslint --fix, prettier --write

Apply zones rule and fix device-reported icon/weather issues
  scripts/visual-matrix.mjs
  src/components/huts/WdHutWeatherForecast.vue
  src/css/app.scss
  src/layouts/MainLayout.vue
Due: eslint --fix, prettier --write

Fix overlay thumbnails, weather temps and finish regression sweep
  src/components/content/place/WdWeatherDay.vue
  src/components/content/place/WdWeatherForecast.vue
  src/components/huts/WdHutAvailability.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Fix night overlay glyphs, greenish night fields; detailed style audit
  src/components/contribute/WdExternalLinkCard.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Fix night page-inversion from scoped :global filter leak
  src/components/map/WdOverlaySwitch.vue
  src/components/map/WdOverlaySwitchItem.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Add GitHub Pages PR previews (label-gated, read-only)
  .github/workflows/preview.yml
  docs/pr-previews.md
  quasar.config.ts
Due: eslint --fix, prettier --write

Polish chrome details and verify new states
  src/components/version/WdVersionsPanel.vue
  src/css/app.scss
Due: eslint --fix, prettier --write

Point previews at the staging API and accept PREVIEW label case
  .github/workflows/preview.yml
Due: none

Fix env override so CI build env wins over .env defaults
  .github/workflows/preview.yml
  quasar.config.ts
Due: eslint --fix, prettier --write
